@media (min-width: 700px) and (max-width: 1200px) {
    .header {
        width: 100%;
    }
    .grid {
        width: 100%;
    }
    body {
        display: flex;
        flex-flow: row wrap;
    }
}


.square {
    width: 200px;
    height: 200px;
    border-color: black;
    border-style: solid;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-content: center;
    width: 618px;
    height: 618px;
    margin: 40px;
}

body:hover {
    cursor: url('./hammer_cursor.png') 2 2, auto;
}

.mole {
    background-image: url('./mole.png');
    background-size: cover;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
}

.header {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: flex-start;
}

h1 {
    font-family: 'Bungee Outline', cursive;
    font-family: 'Bungee Shade', cursive;
    font-size: 3rem;
}

h2, span {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2rem;
}

html {
    background-image: linear-gradient(to right, rgb(85, 107, 47), 50%, rgb(154, 205, 50));
}
